# ----------------------
# Flask
# ----------------------
flask
lxml
tweepy
numpy
gensim
pattern
BeautifulSoup4
owslib
moment

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
